<div class="row clearfix">
  <div class="pull-right">
    <div class="form-group">
      <select class="form-control" [(ngModel)]="timeRange">
        <option value="last12hours">Last 12 hours</option>
        <option value="last1day">Last 1 day</option>
        <option value="last10days">Last 10 days</option>
        <option value="last30days">Last 30 days</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-push-2">
    <div class="panel panel-default">
      <div class="panel-heading">Available fields</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 col-md-push-2">
            <button class="btn btn-default btn-block"
                    *ngFor="let field of fields"
                    (click)="add(field)">
              {{field}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-md-push-2">
    <div class="panel panel-info">
      <div class="panel-heading">Selected fields</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8 col-md-push-2">
            <button class="btn btn-info btn-block"
                    *ngFor="let field of selectedFields"
                    (click)="remove(field)">
              {{field}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="pull-right">
    <button type="button" class="btn btn-primary" (click)="submit()">Generate CSV</button>
  </div>
</div>
